/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --ltblue: #274d9b;
    --ltorange: #fa8835;
    --black: #020a14;
    --dksilver: #8d9199;
    --ltsilver: #adafb2;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Raleway',
        sans-serif;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease-in;
}

button {
    display: inline-block;
    background-color: #fff;
    border: none;
}

button {
    border: none;
    font-family: 'Raleway',
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 50px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    background-color: var(--ltblue);
    color: #fff;
}

nav {
    max-width: 528px;
    width: 60%;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: .95rem;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--ltorange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

header,
footer,
.footer-nav,
.nav-items,
.nav-container,
.reach-wrapper {
    display: flex;
}

.chat-btn {
    padding: .8rem 1.5rem;
}

.nav-items,
.footer-nav,
.nav-container {
    justify-content: space-between;
    align-items: center;
}

.drop-link {
    position: relative;
    display: inline-block;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    padding-left: 1rem;
    transition: all 0.4s ease-in;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.drop-link:hover .fa-chevron-up {
    transform: rotate(180deg);
    transition: transform 0.4s ease-in;
}

.drop-link:hover .drop-menu {
    display: block;
}

.drop-menu a {
    display: block;
    color: var(--ltblue);
    font-size: 1rem;
    margin: 1rem 0;
}

.drop-menu a:hover {
    color: var(--dksilver);
}

/* HEADER*/

header {
    background: var(--black);
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    border-bottom: 1px solid grey;
    z-index: 9999;
}

.logo {
    width: 24%;
    display: inherit;
}

/* HEADER*/

.mobile-nav {
    display: none;
}

.close-btn,
.toggle-btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: var(--ltblue);
    color: #fff;
    position: absolute;
    top: 24px;
    right: 25px;
}

.toggle-btn {
    top: 13px;
}

.fa-bars,
.fa-times {
    font-size: 22px;
}

.fa {
    margin-left: .5rem;
}

.chevron {
    transform: rotate(180deg);
    transition: all .5s ease;
}



.nav-links {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--ltblue);
    width: 375px;
    justify-content: center;
    padding: 0.5rem 0 1.8rem;
    transform: translateY(-1000px);
    height: 100vh;
    opacity: 0;
    transition: all .5s ease-in;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.show-navlinks {
    opacity: 1;
    transform: translateY(0);
}




/*   Sections */
section {
    min-height: 636px;
}

.home {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    place-items: center;
    display: grid;
    margin-bottom: 3rem;
    position: relative;
}

.home-phone {
        position: absolute;
        top: 6rem;
        font-size: 1.2rem;
        z-index: 1;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(59, 49, 49, 0.644);
}

.second-home {
    min-height: 255px;
    background-image: url('../images/placeholder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    place-items: center;
    display: grid;
}

.home-products {
    background-image: url('../images/products.jpg');
    background-position: 25% 75%;
}

.home-services {
    background-image: url('../images/services.jpg');
}

.home-about {
    background-image: url('../images/about.jpg');
    background-position: 25% 75%;
}


.intro {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    max-width: 600px;
    width: 90%;
    margin: 18rem 0 auto;
    z-index: 2;
}

.intro-title {
    font-size: 3.8rem;
    margin-bottom: 1rem;
}

.intro-sub-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 2.5rem 0;
    font-weight: 600;
}

.home-sub-title {
    font-size: 1.5rem;
    padding: 0;
    color: #bac1cf;
    margin-bottom: 1rem;
}

.intro-span {
    text-transform: uppercase;
}

.about {
    background-color: #d1d6ec;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img {
    width: 50%;
}

.about-img img {
    border-radius: 5px;
}

.about-description {
    margin: 2rem 0 3rem;
    width: 40%;
}

.services {
    padding-top: 3rem;
}

.services-wrapper {
    background: #EAEAEA;
    padding-bottom: 2rem;
}

.services-container {
    display: flex;
    justify-content: space-between;
}

.service-card {
    width: 48%;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 5px;
    margin: 0 auto 3rem;
}

.service-card:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
}

.service-img {
    width: 120px;
}

.service-title {
    text-transform: uppercase;
    margin: 1rem 0;
    font-weight: 700;
}

.service-card ul {
    padding-left: 2rem;
}

.service-card li {
    list-style: disc;
}

.service-link {
    display: inline-block;
    color: #232946;
    font-weight: 600;
    border-bottom: 3px solid var(--ltblue);
    margin: 1rem 0;
}

.service-link:hover {
    color: var(--ltblue);
    margin-left: 1rem;
}

.contact-wrapper {
    background: #F8F8F8;
}

.contact {
    padding-top: 2rem;
}

/* Products */
.products-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-bottom: 4rem;
}

.preview .products-container {
    position: relative;
}

.product {
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
        0 2px 2px rgba(0, 0, 0, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.15),
        0 8px 8px rgba(0, 0, 0, 0.15);
}

.prd-two {
    width: 100%;
    background: var(--ltblue);
    border-radius: 0 0 5px 5px;
    color: white;
}

.prd-two:hover {
    color: var(--ltsilver);
}

/* Products */

.reach-us {
    min-height: 318px;
    align-items: center;
    display: flex;
}

.reach-wrapper {
    justify-content: center;
    align-items: center;
}

.reach-us-content {
    max-width: 550px;
    width: 100%;
    background: #FFEAA7;
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
        0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07),
        0 32px 64px rgba(0, 0, 0, 0.07);
}

.reach-btn {
    max-width: 170px;
    width: 70%;
    background: var(--ltblue);
    color: #fff;
    margin-top: 1rem;
}

.reach-btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
        0 2px 2px rgba(0, 0, 0, 0.20),
        0 4px 4px rgba(0, 0, 0, 0.15),
        0 8px 8px rgba(0, 0, 0, 0.10),
        0 16px 16px rgba(0, 0, 0, 0.05);
}

.tab-menu {
    margin: 1rem 0 2rem;
}

.tab-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tab-menu ul li {
    list-style-type: none;
    display: block;
    margin: 0 0 2.5rem 1rem;
    cursor: pointer;
}

.tab-menu ul li a:hover {
    background:#b4cbc4e3;
}

.tab-menu ul li a {
    text-decoration: none;
    color: var(--black);
    background-color: #95b6ac;
    padding: .8rem 1.2rem;
    text-transform: capitalize;
    border-radius: 58px;
}

.tab-menu ul li a.active-a {
    background-color: var(--ltblue);
    color: #ffffff;
}

.tab {
    display: none;
}

.tab h2 {
    color: rgba(0, 0, 0, .7);
}

.tab p {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.tab-active {
    display: grid;
}

.prd-img {
    max-width: 400px;
    width: 100%;
}

.prd-details-btn {
    width: 70%;
    margin: 1.5rem auto;
    background: var(--ltblue);
    color: #fff;
}

.preview .message-wrapper {
    align-items: center;
}

.product-name {
    font-weight: 600;
}

.product-list li {
    font-size: .8rem;
    padding-left: 0.5rem;
}

.home-phone a {
    margin-right: 1rem;
}

.corporate {
    margin: 5rem auto 0;
    max-width: 742px;
    width: 90%;
    text-align: left !important;
}

.corporate h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: left !important;
}

.terms h2 {
    padding-bottom: 5rem;
}

.corporate li {
    margin-bottom: 1.8rem;
}

h2 ~ p {
    margin-bottom: 3rem;
}

.corporate h4 {
    margin-bottom: .5rem;
}

/*   Footer*/

footer {
    background: #232946;
    min-height: 200px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

footer a {
    font-weight: 300;
    color: var(--dksilver);
}

.contact-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
    align-items: center;
}

.contact-details a {
display: block;
font-weight: 400;
color: #fff;
font-size: 1.1rem;
text-transform: none;
margin-bottom: .6rem;
}

.socials a {
    display: inline-block;
}

.fas {
    margin-right: 0.5rem;
}

.fab {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

/*  Media Queries */
@media screen and (max-width: 768px) {
    .logo {
        width: 45%;
    }

    footer a {
        font-size: .8rem;
    }

    footer p {
        font-size: .8rem;
    }

    .services-container {
        flex-direction: column;
    }

    .service-card {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .intro {
        margin-top: 16.5rem;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .policy {
        order: 2;
        margin: 1rem 0;
    }

    .footer-nav p {
        order: 3;
    }
    footer {
        padding: 2rem;
    }

    .contact-details {
        flex-direction: column;
    }

    .contact-details a {
        font-size: 1rem;
    }

    .socials {
        margin-top: 1rem;
    }

    .corporate h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    .intro-title {
        font-size: 3rem;
    }
    .intro-sub-title {
        font-size: 2rem;
        text-align: center;
        font-size: 1.4rem;
    }

    .second-home h1 {
        font-size: 2.8rem;
    }

    .logo {
        width: 70%;
    }

    .home-phone a {
        margin: 0 1rem .5rem 0;
        display: block;
    }
}

@media screen and (max-width: 1151px) {
    a {
        font-size: .8rem;
    }

    .chat-btn {
        padding: .6rem 1.2rem;
    }
}

@media screen and (max-width: 899px) {
    .about-container {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
    }

    .about-description {
        width: 100%;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-list li {
        margin-bottom: .8rem;
    }

    .nav-list .chat-btn {
        color: #020a14;
        padding: .6rem 4.5rem;
        text-decoration: none;
        position: static;
    }

    .chat-btn:hover {
        background: #fff;
    }
}

@media (min-width: 899px) and (max-width: 1028px) {
    .about-img {
        width: 55%;
    }
}

@media screen and (max-width: 799px) {
    nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: end;
    }
}